
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-transform: capitalize;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 26, 26);
}


.header{
  align-items: left;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  font-size: 38px;
  /* color: rgb(26, 26, 26); */
  max-width: 98%;
  margin-left: 8px;
}

.header span{
  position: relative;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 0px;
  height: 28px;
  /* border:rgb(26, 26, 26) 1px solid; */
  /* animation-name: move;
  animation-timing-function: cubic-bezier(0,1.12,.7,.98);
  animation-duration: 1s;
  animation-delay: 0.3s; */
}

.header span:nth-child(2), span:nth-child(3){
  padding-left: 6px;
}

@media screen and (min-width: 769px) {
  .header {
    max-width: 70%;
  }
}

/* .header span::before, a.button::before{
  content: '';
  display: block;
  background-color: white;
  width: 960px;
  padding: 0px -10px;
  height: 38px;
  position: absolute;
  bottom: 1px;
  z-index: 0;
  animation-name: reveal;
  animation-timing-function: cubic-bezier(.69,.26,.97,.75);
  animation-duration: 0.3s;
  animation-delay: 0.2s;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  animation-fill-mode: forwards;
} */

.header span:nth-child(1)::before{
  content: '';
  display: block;
  background-color: white;
  width: 960px;
  padding: 0px -10px;
  height: 120px;
  position: absolute;
  bottom: -76px;
  z-index: 3;
  animation-name: reveal;
  animation-timing-function: cubic-bezier(.69,.26,.97,.75);
  animation-duration: 0.3s;
  animation-delay: 0.2s;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  animation-fill-mode: forwards;
}

/* 
.header span:nth-child(2)::before{
  animation-delay: 0.6s;
}
.header span:nth-child(3)::before{
  animation-delay: 0.8s;
} */

a.button::before{
  animation-delay: .8s;
  content: '';
  display: block;
  background-color: white;
  width: 100%;
  width: 560px;
  height: 50px;
  position: absolute;
  bottom: -4px;
  left: -5px;
  z-index: 2;
  animation-name: reveal;
  animation-timing-function: cubic-bezier(.69,.26,.97,.75);
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  animation-fill-mode: forwards;
}


.maxWidth {
  max-width: 1080px;
  margin: 0px auto;
  padding: 0px 10px;
}

#logo{
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
}
.topnav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.contentLinks{
display: flex;
}
.contentLinks a{
padding: 0px 20px;
text-decoration: none;
color: black;
font-weight: 500;
}

.contentLinks a:hover{
color: rgb(77, 77, 80);
transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.button{
  position: relative;
  height: 35px;
  width: 175px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  background-color: white;
  border: 2px solid  rgb(26, 26, 26);
  border-radius: 32px;
text-decoration: none;
}

.button .buttonText{
text-align: left;
  background-color: rgb(26, 26, 26);
  color: white;
  padding: 7px 16px 8px 16px;
  border-radius: 32px;
  /* height: 100%; */
  /* width: 100%; */
  height: 20px;
  width: 90px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button .buttonText:hover{
  text-align: left;
  width: 100%;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}

.button .arrow{
  position: absolute;
  right: 5px;
  font-size: 26px;
  mix-blend-mode: difference;
  color:rgb(255,255,255);
  text-decoration: none;
  padding: 8px 16px 8px 16px;
}

/* .button .arrow:hover{
  position: absolute;
  right: 3px;
  transition: 0.3s;
  font-size: 26px;
  mix-blend-mode: difference;
  color:rgb(255,255,255);
  text-decoration: none;
  padding: 8px 8px 8px 18px;
} */

@keyframes reveal {
  from {
    /* transform: translate(0px); */
    transform:rotate(180deg);
    height: 120px;
  }
  to {
    transform: translate(0px);
    transform:rotate(180deg);
    height: 0px;
  }
}

@keyframes move {
  from {
    /* transform: translate(0px); */
    transform:translate(30px, 0px);

  }
  to {
    transform:translate(0px, 0px);
  }
}
.sectionPadding{
  padding: 80px 0px;
}

.gridThree{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 4em;
}

.gridFour{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 4em;
}
@media screen and (max-width: 769px) {
  .gridThree, .gridFour {
    grid-template-columns: repeat(1, 1fr);
  }

}

.gridThree .block h2, .block p{
text-align: left;
}


.gridFour h1, h2, p{
 text-align: left;
}
.gridSubtitle{
  text-transform: uppercase;
}

.block p{
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
}

.sectionRow{
  border-bottom: 1px solid rgb(26, 26, 26);
  margin: 0px 0px 30px 0px;
}

.sectionRow h1{
font-weight: 400;
font-size: 15px;
text-transform: uppercase;
text-align: left;}


.greyBg{
  background-color: #f4f4f4;
  color: black;
}

.greenBg{
  background-color: #76E7CD;
  color: black
}

.purpleBg{
  background-color: #4056F4;
  color: white;
}